# ── Servidor ──────────────────────────────────────────────────────
PORT=3001
NODE_ENV=development

# ── PostgreSQL ────────────────────────────────────────────────────
# Local (con docker-compose):
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/supplier_db

# ── RabbitMQ ──────────────────────────────────────────────────────
# Local (con docker-compose):
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# ── Redis ─────────────────────────────────────────────────────────
# Local (con docker-compose):
REDIS_URL=redis://localhost:6379
